#raindrop_collections {
    width: 50%;
    dock: left;
}

#raindrop_previews {
    width: 50%;
    dock: right;
}

#url_input {
    width: 100%;
    dock: top;
    margin-bottom: 1;
    border: dashed #CCCCCC;
}

ListView {
    margin-top: 4;
    border: dashed #CCCCCC;
    
}

ListItem {
    height: 1;
}

Container {
    background: #000000;
}

Header {
    background: #000000;
    color: #FFFFFF;
}
