#Collection {
    dock: left;
    height: 100;
    width: 35;
    offset-x: -100%;
    transition: offset 500ms in_out_cubic;
    border-right: outer #09312e;
}

#Collection.-active {
    offset-x: 0;
}

URLInput {
    layout: horizontal;
    background: $boost;
    height: 5;
    margin: 1;
    min-width: 50;
    padding: 1;
}

Content {
    background: $boost;
    height: 5;
    margin: 1;
    min-width: 5;
    padding: 1;
    dock: bottom;
}

ListView {
    margin: 2 2;
}

ListItem {
    height: 1;
}
